template(name='clients')
  #page-wrapper
    .row
      .col-md-12
        h1.page-header Clients
          .pull-right
              button.btn.btn-primary(data-toggle="modal" data-target="#editclientmodal") Create New
    .row
      .col-md-12
        +tabular(table=TabularTables.Clients class="table table-striped table-bordered table-condensed")
  +editClient(blank)

template(name="editClient")
  // Modal
  #editclientmodal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title(data-bind="text: editOrNew")
        .modal-body
          .row
            .col-md-12
              label Name
                input.form-control(type="text" data-bind="value: name")
          .row
            .col-md-6
              label Email
                input.form-control(type="email" data-bind="value: email")
            .col-md-6
              label Phone
                input.form-control(type="tel" data-bind="value: phone")
        .modal-footer
          button.btn.btn-danger(type="button", data-dismiss="modal" data-bind="click: delete, if: deleteShown") Delete
          button.btn.btn-default(type="button", data-dismiss="modal") Cancel
          button.btn.btn-primary(type="button" data-dismiss="modal" data-bind="click: save") Save