template(name="clientDetail")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header {{name}}
    .row
      .col-lg-8
        .panel.panel-default
          .panel-heading
            i.fa.fa-clock-o.fa-fw
            | Sessions
            .pull-right
              .btn-group
                button.btn.btn-default.btn-xs.dropdown-toggle(type="button", data-toggle="dropdown")
                  | Actions
                  span.caret
                ul.dropdown-menu.pull-right(role="menu")
                  li
                    a(href="#") Action
                  li
                    a(href="#") Another action
                  li
                    a(href="#") Something else here
                  li.divider
                  li
                    a(href="#") Separated link
          .panel-body
            +tabular(table=TabularTables.ClientSessions selector=clientSelector class="table table-striped table-bordered table-condensed")
        .panel.panel-default
          .panel-heading
            i.fa.fa-clock-o.fa-fw
            | Recent Updates
          .panel-body
            +lc_eventsList(client_id=_id)

      .col-lg-4
        .panel.panel-default
          .panel-heading
            i.fa.fa-money.fa-fw
            | Current Rates
          .panel-body
            +sidebarRates(rates)

template(name="sidebarRates")
  .list-group
    each this
      a.list-group-item(href="_id")
        | {{session_type}} with {{employeeName}}
        span.pull-right.text-muted.small
          {{unit_bill_rate}}
