template(name="editSession")
  // Modal
  #editsessionmodal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Edit Session
        .modal-body
          .row
            .col-md-6
              label Start Time
                input.form-control(type="datetime-local" data-keypath="start_time")
            .col-md-6
              label End Time
                input.form-control(type="datetime-local" data-keypath="end_time")
          .row
            .col-md-4
              label Total Units
                input.form-control(type="number" data-keypath="units")
            .col-md-8
              .form-group
                label Notes
                input.form-control(type="text" data-keypath="notes")
          .row
            .col-md-6
              label Pay Adjustments
              +editAdjustments(key="editSession,pay_adjustments")
            .col-md-6
              label Billing Adjustments
              +editAdjustments(key="editSession,billing_adjustments")
          .row
            .col-md-6
              .form-group
                label Total Pay
                input.form-control(type="number" data-keypath="total_pay")
            .col-md-6
              .form-group
                label Total Bill
                input.form-control(type="number" data-keypath="total_bill")
        .modal-footer
          button#deletebutton.btn.btn-danger(type="button", data-dismiss="modal") Delete
          button.btn.btn-default(type="button", data-dismiss="modal") Cancel
          button#savebutton.btn.btn-primary(type="button" data-dismiss="modal") Save


template(name="editAdjustments")
  .panel.panel-default
    .panel-body
      form.addform(role="form")
        table.table
          thead
            tr
              td Name
              td Amount
          each getAdjustments
            tr
              td {{name}}
              td {{amount}}
              td
                a.remove(href="#" data-name=name)
                  i.fa.fa-times.text-danger
          tr
            td
              input.form-control.input-xs.name(type="text" size="10")
            td
              input.form-control.input-xs.amount(type="text" size="3")
            td
              button.btn.btn-xs.btn-primary Add
//- # {employee_id, client_id, billing_rate,}

