template(name="editSession")
  // Modal
  #editsessionmodal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title Edit Session
        .modal-body
          form#editsessionform(role="form")
            .row
              .col-md-6
                label Start Time
                  input#start_time.form-control(type="datetime-local")
              .col-md-6
                label End Time
                  input#end_time.form-control(type="datetime-local")
            .row
              .col-md-4
                label Total Units
                  input#units.form-control(type="number")
              .col-md-8
                .form-group
                  label Notes
                  input#notes.form-control(type="text")
            .row
              .col-md-6
                .form-group
                  label Total Bill
                  input#total_bill.form-control(type="number")
              .col-md-6
                .form-group
                  label Total Pay
                  input#total_pay.form-control(type="number")
        .modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") Cancel
          button#savebutton.btn.btn-primary(type="button") Save

//- # {employee_id, client_id, billing_rate,
//- #  , [pay_adjustments], [billing_adjustments], , }