template(name="employeeDetail")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header {{profile.name}}
          .pull-right
            button.btn.btn-primary(data-toggle="modal" data-target="#edittutormodal") Edit
    +editTutor(this)
    .row
      .col-lg-9
        .panel.panel-default
          .panel-heading
            i.fa.fa-pencil-o.fa-fw
            | Sessions
            .pull-right
              .btn-group
                button.btn.btn-default.btn-xs.dropdown-toggle(type="button", data-toggle="dropdown")
                  | Actions
                  span.caret
                ul.dropdown-menu.pull-right(role="menu")
                  li
                    a(href="#") Action
                  li
                    a(href="#") Another action
                  li
                    a(href="#") Something else here
                  li.divider
                  li
                    a(href="#") Separated link
          .panel-body
            +tabular(table=TabularTables.EmployeeSessions selector=employeeSelector class="table table-striped table-bordered table-condensed")
        .panel.panel-default
          .panel-heading
            i.fa.fa-clock-o.fa-fw
            | Recent Updates
          .panel-body
            +lc_eventsList(employee_id=_id)

      .col-lg-3
        .panel.panel-default
          .panel-heading
            i.fa.fa-money.fa-fw
            | Current Pay Rates
          .panel-body
            +sidebarRatesWithClient(rates)
      .col-lg-3
        .panel.panel-default
          .panel-heading
            i.fa.fa-edit.fa-fw
            | Pay Adjustments
          .panel-body
            +sidebarAdjustments(pay_adjustments)

template(name="sidebarRatesWithClient")
  .list-group
    each this
      a.list-group-item(href="rates/{{_id}}")
        .row
          .col-sm-12
            | {{session_type}} with {{clientName}}
            span.pull-right.text-muted.small
              | {{unit_pay_rate}}
