template(name="log")
  #page-wrapper
    .row
      .col-md-12
        h1.page-header Log Session
    form#log-session(role="form")
      .row
        .col-md-6
            .form-group.input-group
              span.input-group-addon
                i.fa.fa-user
              select.form-control#client(autofocus="true")
                option(selected)
                each getClientsOfUser
                  option(value=_id)= name
        .col-md-6
            .form-group.input-group
              span.input-group-addon
                i.fa.fa-pencil
              select.form-control#sessiontype
                each getSessionTypes
                  option(value=_id)= session_type
      .row
        .col-md-4
          .form-group.input-group
            span.input-group-addon
              i.fa.fa-calendar-o
            input.form-control#date(type="date")
        .col-md-4
          .form-group.input-group
            span.input-group-addon
              i.fa.fa-clock-o
            input.form-control.clockpicker#starttime(type="text", placeholder="Start Time")
        .col-md-4
          .form-group.input-group
            span.input-group-addon
              i.fa.fa-clock-o
            input.form-control.clockpicker#endtime(type="text", placeholder="End Time")
      .row
        .col-md-12
          .form-group.input-group
            span.input-group-addon
              i.fa.fa-comment-o
            input.form-control#notes(type="text", placeholder="Notes")
      .row
        .col-md-10
        .col-md-2
          button.btn.btn-success.pull-right(type="submit") Record
      .row(style='margin-top: 25px;')
        .col-md-12
          #successalert.alert.alert-success.alert-dismissible(role="alert")
            button.close(type="button" data-dismiss="alert")
              span(aria-hidden="true") &times;
              span.sr-only Close
            | Successfully recorded session
