template(name="mySessions")
  #page-wrapper
    .row
      .col-md-12
        h1.page-header My Sessions
    .row
      .col-md-12
        +tabular(table=TabularTables.Sessions class="table table-striped table-bordered table-condensed")

