template(name="billingRates")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Billing Rates
    .row
      .col-lg-12
        +tabular(table=TabularTables.BillingRates class="table table-bordered table-striped")