template(name='tutors')
  #page-wrapper
    .row
      .col-md-12
        h1.page-header Tutors
          .pull-right
            button.btn.btn-primary(data-toggle="modal" data-target="#edittutormodal") Create New
    .row
      .col-md-12
        +tabular(table=TabularTables.Employees class="table table-striped table-bordered table-condensed")
    .row
      .col-md-12
        +editTutor

template(name="editTutor")
  // Modal
  #edittutormodal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          h4#myModalLabel.modal-title {{editOrNew}}
        .modal-body
          .row
            .col-md-6
              label Name
                input#name.form-control(type="text")
            .col-md-6
              label Title
                input#type.form-control(type="text")
          .row
            .col-md-6
              label Email
                input#email.form-control(type="email")
            .col-md-6
              label Phone
                input#phone.form-control(type="tel")
          .row
            .col-md-12#pay_adjustments
              label Pay Adjustments
              +editAdjustments(key="editTutor.pay_adjustments")
          .row
            .col-md-12#billing_rates
              label Billing Rates
              +editAdjustments(key="editTutor.billing_rates")
        .modal-footer
          button#deletebutton.btn.btn-danger(type="button", data-dismiss="modal") Delete
          button.btn.btn-default(type="button", data-dismiss="modal") Cancel
          button#savebutton.btn.btn-primary(type="button" data-dismiss="modal") Save